<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xmlns:context="http://www.springframework.org/schema/context"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security-3.2.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="com.liujun.handler"/>
    <http security="none" pattern="/static/**"/>
    <http auto-config="true">
        <intercept-url pattern="/" access="ROLE_USER,ROLE_ADMIN,ROLE_DBA"/>
        <intercept-url pattern="/home" access="ROLE_USER,ROLE_ADMIN,ROLE_DBA"/>
        <form-login
                login-page="/login"
                default-target-url="/welcome"
                authentication-failure-url="/login?error"
                username-parameter="username"
                password-parameter="password"
                authentication-success-handler-ref="customSuccessHandler"
                />
        <logout logout-success-url="/login?logout"/>
    </http>

    <authentication-manager>
        <authentication-provider>
            <user-service>
                <user name="yiibai" password="123456" authorities="ROLE_USER"/>
                <user name="admin" password="123456" authorities="ROLE_ADMIN"/>
                <user name="dba" password="123456" authorities="ROLE_ADMIN,ROLE_DBA"/>
            </user-service>
        </authentication-provider>
    </authentication-manager>

</beans:beans>